
@import "style_mixin"
@media screen and ( min-width: 768px )
    .logitech
        padding-top: 54px
        padding-bottom: 80px
        background: $colorBack1
    // .logitech__logo
    //     width: 240px
        // &__image
        //     margin-top: 160px
        //     margin-bottom: 124px
        //     height: 514px
        //     background-image: url(img/MX-Master 1Tablet.png)
        //     background-repeat: no-repeat
        //     background-size: contain
        //     background-position: center
        // &__title
        // +titleT-h2()
        // &__text
        //     margin-bottom: 124px
        //     margin-right: 155px
        //     margin-left: 154px
        // +text()
        // &__arrow
        // +centerContent()
