* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.logitech {
  padding-bottom: 48px;
  background: #E0E1E2;
}

.logitech__header {
  position: relative;
}

.logitech__image {
  margin-top: 94px;
  margin-bottom: 67px;
  height: 230px;
  background-image: url(img/MX-Master1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logitech__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
}

.logitech__text {
  margin-bottom: 40px;
  margin-right: 59px;
  margin-left: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.logitech__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logitech__svg {
  width: 42px;
  height: 22px;
}

.logitech__logo-white {
  display: none;
}

.navbar {
  padding-top: 25px;
}

.navbar-toggler {
  position: absolute;
  top: 25px;
  right: 28px;
}

.navbar > .container-fluid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth {
  background-color: #EDEDED;
  padding-top: 49px;
  padding-bottom: 18px;
}

.bluetooth__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth__svg {
  width: 18px;
  height: 34px;
}

.bluetooth__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bluetooth__text {
  margin-bottom: 31px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.bluetooth__heading {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.bluetooth__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 295px;
}

.bluetooth__img-master {
  height: 218px;
}

.bluetooth__img-masterFront {
  display: none;
}

.darkfield {
  padding-top: 70px;
  padding-bottom: 63px;
}

.darkfield__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.darkfield__text {
  margin-bottom: 30px;
  margin-right: 61px;
  margin-left: 67px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.darkfield__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.darkfield__info-box {
  border: 1px solid #2F3132;
  padding: 10px 17px;
  -ms-flex-preferred-size: 166px;
      flex-basis: 166px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.darkfield__heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.darkfield__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 0;
}

.darkfield__heading-carousel {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-top: 28px;
  margin-bottom: 70px;
}

.darkfield__text-carousel {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-right: 33px;
  margin-left: 34px;
}

.darkfield__imageDesk {
  display: none;
}

.darkfield__button1 {
  background-image: url("img/wood-texture1.png");
}

.darkfield__button2 {
  background-image: url("img/wood-texture2.png");
}

.darkfield__button3 {
  background-image: url("img/linoleum-texture3.png");
}

.darkfield__button4 {
  background-image: url("img/cloth-texture3.png");
}

.darkfield__button5 {
  background-image: url("img/marble-texture3.png");
}

.darkfield__button1, .darkfield__button2, .darkfield__button3, .darkfield__button4, .darkfield__button5 {
  width: 30px;
  height: 30px;
}

.carousel-indicators {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-indicators [data-bs-target] {
  height: 30px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("img/arrow-left.svg");
}

.carousel-control-next-icon {
  background-image: url("img/arrow-right.svg");
}

.flow {
  background-color: #EDEDED;
  padding-top: 70px;
  padding-bottom: 218px;
  background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.flow__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
  margin-right: 28px;
  margin-left: 29px;
}

.flow__text {
  margin-bottom: 10px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.flow__list {
  padding-left: 54px;
  padding-right: 54px;
  margin-top: 36px;
  margin-bottom: 0;
  list-style-position: inside;
}

.flow__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  text-align: left;
  margin-bottom: 16px;
  width: 224px;
}

.flow ::marker {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.master {
  background-color: #EDEDED;
  padding-top: 70px;
  padding-bottom: 60px;
}

.master__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.master__text {
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.master__slider {
  margin: 35px 22px 98px 23px;
}

.master__content {
  background-color: #C4C4C4;
  padding: 23px 22px 26px 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.master__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.master__content-text {
  margin-right: 33px;
  margin-left: 34px;
}

.master__image {
  display: none;
}

.master__slider-indicators {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.master__slider-indicators [data-bs-target] {
  background-color: #C4C4C4;
  width: 15px;
  height: 15px;
}

.master__slider-indicators .active {
  background-color: #2F3132;
}

.ergonomics {
  padding-top: 70px;
}

.ergonomics__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.ergonomics__title2 {
  margin-top: 70px;
}

.ergonomics__text {
  margin-bottom: 20px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.ergonomics__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 310px;
}

.ergonomics__image1 {
  background-image: url("img/image 1small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ergonomics__image2 {
  background-image: url("img/image 2small.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.footer {
  background-color: #2F3132;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 22px;
}

.footer__copyright {
  width: 85px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #C7C8C8;
}

@media screen and (min-width: 768px) {
  .logitech {
    padding-bottom: 80px;
    background: #E0E1E2;
  }
  .logitech__logo {
    width: 240px;
  }
  .logitech__image {
    margin-top: 160px;
    margin-bottom: 124px;
    height: 514px;
    background-image: url("img/MX-Master 1Tablet.png");
  }
  .logitech__title {
    font-size: 40px;
    line-height: 47px;
  }
  .logitech__text {
    margin-bottom: 76px;
    margin-right: 155px;
    margin-left: 154px;
    font-size: 24px;
    line-height: 28px;
  }
  .logitech__svg {
    width: 61px;
    height: 33px;
  }
  .navbar {
    padding-top: 54px;
  }
  .navbar-toggler {
    position: absolute;
    top: 54px;
    right: 58px;
  }
  .bluetooth {
    padding-top: 80px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bluetooth__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bluetooth__svg {
    width: 22px;
    height: 40px;
  }
  .bluetooth__title {
    font-size: 40px;
    line-height: 47px;
    margin-top: 39px;
    margin-bottom: 30px;
  }
  .bluetooth__text {
    margin-bottom: 76px;
    margin-right: 77px;
    margin-left: 77px;
    font-size: 24px;
    line-height: 28px;
  }
  .bluetooth__heading {
    font-size: 150px;
    line-height: 176px;
  }
  .bluetooth__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1.png");
    height: 640px;
  }
  .darkfield {
    padding-top: 70px;
    padding-bottom: 61px;
  }
  .darkfield__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }
  .darkfield__text {
    margin-bottom: 50px;
    margin-right: 77px;
    margin-left: 77px;
    font-size: 24px;
    line-height: 28px;
  }
  .darkfield__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .darkfield__info-box {
    padding: 10px 32px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    min-height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .darkfield__heading {
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .darkfield__desc {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .darkfield__heading-carousel {
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 86px;
  }
  .darkfield__text-carousel {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-right: 77px;
    margin-left: 77px;
  }
  .flow {
    padding-bottom: 456px;
    background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
  .flow__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
    margin-right: 129px;
    margin-left: 129px;
  }
  .flow__text {
    margin-bottom: 30px;
    margin-right: 65px;
    margin-left: 64px;
    font-size: 24px;
    line-height: 28px;
  }
  .flow__list {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flow__item {
    width: auto;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    padding: 8px 15px 4px 15px;
  }
  .flow__item:first-child {
    padding-left: 0;
  }
  .flow__item:last-child {
    padding-right: 0;
  }
  .flow ::marker {
    font-size: 20px;
    line-height: 23px;
  }
  .flow__item2 {
    border-right: 1px solid #2F3132;
    border-left: 1px solid #2F3132;
  }
  .master {
    padding-bottom: 70px;
    padding-right: 65px;
    padding-left: 64px;
  }
  .master__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }
  .master__text {
    margin-right: 0;
    margin-left: 0;
    font-size: 24px;
    line-height: 28px;
  }
  .master__slider {
    margin: 54px 197px 150px 200px;
  }
  .master__content {
    padding: 38px 65px 29px 65px;
    font-size: 20px;
    line-height: 23px;
  }
  .master__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
    padding-right: 61px;
    padding-left: 62px;
  }
  .master__img {
    height: 35px;
  }
  .master__content-text {
    margin-right: 0;
    margin-left: 0;
  }
  .ergonomics__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
    margin-right: 130px;
    margin-left: 130px;
  }
  .ergonomics__title2 {
    margin-right: 205px;
    margin-left: 205px;
  }
  .ergonomics__text {
    margin-left: 65px;
    margin-right: 64px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
  .ergonomics__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 549px;
  }
  .ergonomics__image1 {
    background-image: url("img/image 1big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .ergonomics__image2 {
    background-image: url("img/image 2big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
  .footer {
    min-height: 150px;
    padding-top: 47px;
  }
  .footer__copyright {
    width: 170px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .center {
    padding-right: calc( 50% - 580px);
    padding-left: calc( 50% - 580px);
  }
  .logitech {
    padding-bottom: 80px;
    background: #E0E1E2;
  }
  .logitech__header {
    background: #2F3132;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logitech__logo-dark {
    display: none;
  }
  .logitech__logo-white {
    display: block;
    width: 150px;
  }
  .logitech__image {
    margin-top: 20px;
    padding-top: 80px;
    margin-bottom: 8px;
    height: 671px;
    background-image: url("img/MX-Master 1big.png");
  }
  .logitech__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 0;
  }
  .logitech__text {
    margin-bottom: 49px;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    line-height: 23px;
  }
  .logitech__svg {
    width: 57px;
    height: 29px;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-item {
    padding-right: 18px;
    padding-left: 18px;
    border-right: 1px solid #494949;
  }
  .nav-item:first-child {
    padding-left: 0;
  }
  .nav-item:last-child {
    border-right: none;
    padding-right: 0;
  }
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bluetooth {
    padding-top: 80px;
    padding-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bluetooth__title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .bluetooth__text {
    margin-bottom: 14px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 23px;
  }
  .bluetooth__heading {
    font-size: 96px;
    line-height: 112px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 80px;
  }
  .bluetooth__heading-70 {
    font-size: 300px;
    line-height: 352px;
  }
  .bluetooth__heading-day {
    padding-top: 45px;
  }
  .bluetooth__img {
    height: 426px;
    background: url("img/High_Resolution_PNG-MX Master 3 FRONT GRAPHITE 1Desk.png") no-repeat 0 119px, url("img/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1Desk.png") no-repeat right 119px;
  }
  .bluetooth__img-center {
    padding-right: calc( 50% - 622px);
    padding-left: calc( 50% - 622px);
  }
  .darkfield {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .darkfield__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 35px;
  }
  .darkfield__text {
    width: 761px;
    margin: auto;
    font-size: 20px;
    line-height: 23px;
  }
  .darkfield__info {
    margin-top: 50px;
  }
  .darkfield__info-box {
    padding: 15px 25px;
    -ms-flex-preferred-size: 237px;
        flex-basis: 237px;
    min-height: 140px;
  }
  .darkfield__heading {
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .darkfield__desc {
    margin-bottom: 0;
  }
  .darkfield__heading-carousel {
    font-size: 20px;
    line-height: 23px;
    margin-top: 40px;
    margin-bottom: 90px;
  }
  .darkfield__text-carousel {
    font-size: 20px;
    line-height: 23px;
    width: 765px;
    margin: auto;
  }
  .darkfield__slider {
    padding-right: calc( 50% - 640px);
    padding-left: calc( 50% - 640px);
  }
  .darkfield__image, .darkfield .d-block {
    display: none !important;
  }
  .darkfield__imageDesk {
    display: block;
  }
  .flow {
    padding-top: 100px;
    padding-bottom: 870px;
    background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1Desk.png");
  }
  .flow__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 35px;
    margin-right: 0;
    margin-left: 0;
  }
  .flow__text {
    font-size: 20px;
    line-height: 23px;
    margin-right: 0;
    margin-left: 0;
  }
  .flow__list {
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .flow__item {
    padding: 8px 27px 4px 27px;
  }
  .flow__center {
    padding-right: calc( 50% - 479px);
    padding-left: calc( 50% - 479px);
  }
  .master {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .master__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .master__text {
    width: 958px;
    margin: auto;
    font-size: 20px;
    line-height: 23px;
  }
  .master__image {
    display: block;
    margin-top: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .master__slider {
    display: none;
  }
  .master__content-center {
    margin: 0;
    padding-right: calc( 50% - 374px);
    padding-left: calc( 50% - 374px);
  }
  .master__content {
    padding: 38px 57px 29px 57px;
    font-size: 20px;
    line-height: 23px;
  }
  .master__content-text {
    margin: 0;
  }
  .ergonomics {
    overflow: hidden;
    padding-top: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 655px 655px;
        grid-template-columns: 655px 655px;
    -ms-grid-rows: 557px 557px;
        grid-template-rows: 557px 557px;
  }
  .ergonomics__center {
    padding-right: calc( 50% - 656px);
    padding-left: calc( 50% - 656px);
  }
  .ergonomics__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ergonomics__desc-top {
    padding-left: 37px;
  }
  .ergonomics__desc-bottom {
    padding-right: 37px;
  }
  .ergonomics__title {
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 30px;
  }
  .ergonomics__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
  }
  .ergonomics__title1, .ergonomics__text1 {
    text-align: left;
    margin-right: 217px;
  }
  .ergonomics__title2, .ergonomics__text2 {
    text-align: right;
    margin-left: 224px;
  }
  .ergonomics__image {
    height: 557px;
  }
  .ergonomics__image1 {
    background-image: url("img/image 1Desk.png");
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .ergonomics__image2 {
    background-image: url("img/image 2Desk.png");
  }
}
/*# sourceMappingURL=style.css.map */