* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.logitech {
  padding-top: 25px;
  padding-bottom: 48px;
  background: #E0E1E2;
}

.logitech__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logitech__image {
  margin-top: 94px;
  margin-bottom: 67px;
  height: 230px;
  background-image: url(img/MX-Master1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logitech__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
}

.logitech__text {
  margin-bottom: 40px;
  margin-right: 59px;
  margin-left: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.logitech__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logitech__svg {
  width: 42px;
  height: 22px;
}

.bluetooth {
  background-color: #EDEDED;
  padding-top: 49px;
  padding-bottom: 18px;
}

.bluetooth__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth__svg {
  width: 18px;
  height: 34px;
}

.bluetooth__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bluetooth__text {
  margin-bottom: 31px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.bluetooth__heading {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.bluetooth__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth__img-master {
  height: 218px;
}

.darkfield {
  padding-top: 70px;
  padding-bottom: 63px;
}

.darkfield__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.darkfield__text {
  margin-bottom: 30px;
  margin-right: 61px;
  margin-left: 67px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.darkfield__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.darkfield__info-box {
  border: 1px solid #2F3132;
  padding: 10px 17px;
  -ms-flex-preferred-size: 166px;
      flex-basis: 166px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.darkfield__heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.darkfield__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 0;
}

.darkfield__heading-carousel {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-top: 28px;
  margin-bottom: 20px;
}

.darkfield__text-carousel {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
  margin-right: 33px;
  margin-left: 34px;
}

.flow {
  background-color: #EDEDED;
  padding-top: 70px;
  padding-bottom: 218px;
  background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.flow__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
  margin-right: 28px;
  margin-left: 29px;
}

.flow__text {
  margin-bottom: 10px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.flow__list {
  padding-left: 54px;
  padding-right: 54px;
  margin-top: 36px;
}

.flow__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  text-align: left;
  margin-bottom: 16px;
  width: 224px;
}

.flow ::marker {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.master {
  background-color: #EDEDED;
  padding-top: 70px;
  padding-bottom: 60px;
}

.master__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.master__text {
  margin-bottom: 35px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.master__slider {
  margin: 35px 22px 98px 23px;
}

.master__content {
  background-color: #C4C4C4;
  padding: 23px 22px 26px 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.master__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.master__content-text {
  margin-right: 33px;
  margin-left: 34px;
}

.ergonomics {
  padding-top: 70px;
}

.ergonomics__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.ergonomics__title2 {
  margin-top: 70px;
}

.ergonomics__text {
  padding-bottom: 20px;
  margin-right: 33px;
  margin-left: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.ergonomics__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #2F3132;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 22px;
}

.footer__copyright {
  width: 85px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #C7C8C8;
}

@media screen and (min-width: 768px) {
  .logitech {
    padding-top: 54px;
    padding-bottom: 80px;
    background: #E0E1E2;
  }
  .logitech__logo {
    width: 240px;
  }
  .logitech__image {
    margin-top: 160px;
    margin-bottom: 124px;
    height: 514px;
    background-image: url("img/MX-Master 1Tablet.png");
  }
  .logitech__title {
    font-size: 40px;
    line-height: 47px;
  }
  .logitech__text {
    margin-bottom: 76px;
    margin-right: 155px;
    margin-left: 154px;
    font-size: 24px;
    line-height: 28px;
  }
  .logitech__svg {
    width: 61px;
    height: 33px;
  }
  .bluetooth {
    padding-top: 80px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bluetooth__pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bluetooth__svg {
    width: 22px;
    height: 40px;
  }
  .bluetooth__title {
    font-size: 40px;
    line-height: 47px;
    margin-top: 39px;
    margin-bottom: 30px;
  }
  .bluetooth__text {
    margin-bottom: 76px;
    margin-right: 77px;
    margin-left: 77px;
    font-size: 24px;
    line-height: 28px;
  }
  .bluetooth__heading {
    font-size: 150px;
    line-height: 176px;
  }
  .bluetooth__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 39px;
    margin-right: 19px;
  }
  .bluetooth__img-master {
    height: 498px;
  }
  .darkfield {
    padding-top: 70px;
    padding-bottom: 61px;
  }
  .darkfield__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }
  .darkfield__text {
    margin-bottom: 50px;
    margin-right: 77px;
    margin-left: 77px;
    font-size: 24px;
    line-height: 28px;
  }
  .darkfield__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .darkfield__info-box {
    padding: 10px 32px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    min-height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .darkfield__heading {
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .darkfield__desc {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .darkfield__heading-carousel {
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 23px;
  }
  .darkfield__text-carousel {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-right: 77px;
    margin-left: 77px;
  }
}
/*# sourceMappingURL=style.css.map */