@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto/Roboto-Regular.woff") format("woff"), url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("fonts/Roboto/Roboto-Black.woff") format("woff"), url("fonts/Roboto/Roboto-Black.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.logitech {
  padding-top: 25px;
  padding-bottom: 48px;
  background: #E0E1E2;
}

.logitech__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logitech__image {
  margin-top: 94px;
  margin-bottom: 67px;
  height: 230px;
  background-image: url(img/MX-Master1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logitech__title {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
}

.logitech__text {
  margin-bottom: 40px;
  margin-right: 59px;
  margin-left: 59px;
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.logitech__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth {
  background-color: #EDEDED;
  padding-top: 49px;
  padding-bottom: 18px;
}

.bluetooth__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bluetooth__title {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bluetooth__text {
  margin-bottom: 31px;
  margin-right: 34px;
  margin-left: 34px;
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.bluetooth__heading {
  font-family: Roboto;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.darkfield {
  padding-top: 70px;
  padding-bottom: 63px;
}

.darkfield__title {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.darkfield__text {
  margin-bottom: 30px;
  margin-right: 61px;
  margin-left: 67px;
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.darkfield__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.darkfield__info-box {
  border: 1px solid #2F3132;
  padding: 10px 17px;
  -ms-flex-preferred-size: 166px;
      flex-basis: 166px;
}

.darkfield__heading {
  font-family: Roboto-Black;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 5px;
}

.darkfield__desc {
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 0;
}

.darkfield__heading-carousel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-top: 28px;
  margin-bottom: 20px;
}

.darkfield__text-carousel {
  font-family: Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
  margin-right: 33px;
  margin-left: 34px;
}
/*# sourceMappingURL=style.css.map */