// @font-face
//     font-family: "Roboto-Regular"
//     src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
//     url("fonts/Roboto/Roboto-Regular.woff") format("woff"),
//     url("fonts/Roboto/Roboto-Regular.ttf") format("ttf")

// @font-face
//     font-family: "Roboto-Black"
//     src: url("fonts/Roboto/Roboto-Black.woff2") format("woff2"),
//     url("fonts/Roboto/Roboto-Black.woff") format("woff"),
//     url("fonts/Roboto/Roboto-Black.ttf") format("ttf")

@import "style_mixin"

*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    font-family: Roboto

.logitech
    padding-top: 25px
    padding-bottom: 48px
    background: $colorBack1
    &__header
        +centerContent()
    &__image
        margin-top: 94px
        margin-bottom: 67px
        height: 230px
        background-image: url(img/MX-Master1.png)
        background-repeat: no-repeat
        background-size: contain
        background-position: center
    &__title
        +title-h2()
    &__text
        margin-bottom: 40px
        margin-right: 59px
        margin-left: 59px
        +text()
    &__arrow
        +centerContent()
    &__svg
        width: 42px
        height: 22px

.bluetooth
    background-color: $colorBack2
    padding-top: 49px
    padding-bottom: 18px
    &__pic
        +centerContent()
    &__svg
        width: 18px
        height: 34px
    &__title
        +title-h2()
        margin-top: 20px
        margin-bottom: 20px
    &__text
        margin-bottom: 31px
        +marginRL()
        +text()
    &__heading
        font-weight: 900
        font-size: 60px
        line-height: 70px
        text-align: center
        text-transform: uppercase
        color: $colorHeading
    &__img
        +centerContent()
    &__img-master
        height: 218px

.darkfield
    padding-top: 70px
    padding-bottom: 63px
    &__title
        +title-h2()
        margin-bottom: 20px
    &__text
        margin-bottom: 30px
        margin-right: 61px
        margin-left: 67px
        +text()
    &__info
        +centerContent()
        margin-bottom: 28px
        column-gap: 6px
    &__info-box
        border: 1px solid $colorTitle
        padding: 10px 17px
        flex-basis: 166px
        min-height: 64px
        display: flex
        flex-direction: column
        justify-content: center
    &__heading
        +title-h2()
        text-transform: uppercase
        margin-bottom: 5px
    &__desc
        +text()
        margin-bottom: 0
    &__heading-carousel
        font-style: normal
        font-weight: 900
        font-size: 14px
        line-height: 16px
        text-align: center
        color: $colorTitle
        margin-top: 28px
        margin-bottom: 20px
    &__text-carousel
        +text()
        margin-bottom: 20px
        +marginRL()
    // &__info-item
        // width: 375px
        // height: 240.35px
// .carousel-inner
//     +ccenterContent()
.flow
    background-color: $colorBack2
    padding-top: 70px
    padding-bottom: 218px
    background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 1.png")
    background-repeat: no-repeat
    background-size: contain
    block-size:
    background-position: center bottom
    &__title
        +title-h2()
        margin-bottom: 20px
        margin-right: 28px
        margin-left: 29px
    &__text
        margin-bottom: 10px
        +marginRL()
        +text()
    &__list
        padding-left: 54px
        padding-right: 54px
        margin-top: 36px
        list-style-position: inside
    &__item
        +text()
        text-align: left
        margin-bottom: 16px
        width: 224px
    ::marker
        +text()
.master
    background-color: $colorBack2
    padding-top: 70px
    padding-bottom: 60px
    &__title
        +title-h2()
        margin-bottom: 20px
    &__text
        margin-bottom: 35px
        +marginRL()
        +text()
    &__slider
        margin: 35px 22px 98px 23px
    &__content
        background-color: $colorHeading
        padding: 23px 22px 26px 29px
        +textMaster()
    &__icon
        display: flex
        justify-content: space-between
        margin-bottom: 20px
    &__content-text
        +marginRL()
.ergonomics
    padding-top: 70px
    &__title
        +title-h2()
        margin-bottom: 20px
    &__title2
        margin-top: 70px
    &__text
        padding-bottom: 20px
        +marginRL()
        +text()
    &__image
        +centerContent()
.footer
    background-color: $colorTitle
    min-height: 75px
    +centerContent()
    padding-top: 22px

    &__copyright
        width: 85px
        font-style: normal
        font-weight: normal
        font-size: 7px
        line-height: 8px
        text-align: center
        color: $colorFooter

@media screen and ( min-width: 768px )
    .logitech
        padding-top: 54px
        padding-bottom: 80px
        background: $colorBack1
        &__logo
            width: 240px
        &__image
            margin-top: 160px
            margin-bottom: 124px
            height: 514px
            background-image: url("img/MX-Master 1Tablet.png")
        &__title
            +titleTablet-h2()
        &__text
            margin-bottom: 76px
            margin-right: 155px
            margin-left: 154px
            +textTablet()
        &__svg
            width: 61px
            height: 33px

    .bluetooth
        padding-top: 80px
        padding-bottom: 10px
        +centerContentTablet()
        &__pic
            +centerContent()
        &__svg
            width: 22px
            height: 40px
        &__title
            +titleTablet-h2()
            margin-top: 39px
            margin-bottom: 30px
        &__text
            margin-bottom: 76px
            +marginRLTablet()
            +textTablet()
        &__heading
            font-size: 150px
            line-height: 176px
        &__img
            +centerContent()
            margin-left: 39px
            margin-right: 19px
        &__img-master
            height: 498px

    .darkfield
        padding-top: 70px
        padding-bottom: 61px
        &__title
            +titleTablet-h2()
            margin-bottom: 30px
        &__text
            margin-bottom: 50px
            +marginRLTablet()
            +textTablet()
        &__info
            +centerContent()
            margin-bottom: 50px
            column-gap: 30px
        &__info-box
            padding: 10px 32px
            flex-basis: 300px
            min-height: 170px
            display: flex
            flex-direction: column
            justify-content: center
        &__heading
            +titleTablet-h2()
            text-transform: uppercase
            margin-bottom: 5px
        &__desc
            +textTablet()
            margin-bottom: 0
        &__heading-carousel
            font-size: 24px
            line-height: 28px
            margin-top: 50px
            margin-bottom: 23px
        &__text-carousel
            +textTablet()
            margin-bottom: 20px
            +marginRLTablet()
        // &__info-item
        //     // width: 894px
        //     // height: 573px
    .flow
        padding-bottom: 496px
        background-image: url("img/High_Resolution_JPG-MX Lifestyle 2346 2.png")
        background-repeat: no-repeat
        background-size: contain
        background-position: center bottom
        &__title
            +titleTablet-h2()
            margin-bottom: 30px
            margin-right: 129px
            margin-left: 129px
        &__text
            margin-bottom: 70px
            margin-right: 65px
            margin-left: 64px
            +textTablet()
        &__list
            +centerContent()
        &__item
            width: auto
            font-size: 20px
            line-height: 23px
            text-align: left
            padding: 8px 15px 4px 15px
        &__item:first-child
            padding-left: 0
        &__item:last-child
            padding-right: 0
        ::marker
            font-size: 20px
            line-height: 23px
        &__item2
            border-right: 1px solid $colorTitle
            border-left: 1px solid $colorTitle
